@font-face {
    font-family: Unbounded;
    src: url('/assets/fonts/unbounded.ttf');
}

@font-face {
    font-family: Inter;
    src: url('/assets/fonts/inter.ttf');
}

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }

    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translatey(-20px);
    }

    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(-200px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    background-color: black;
    color: white;
    font-family: Inter, sans-serif;
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100%;
}

html {
    overflow: hidden;
    height: 100%;
}

.floating {
    transform: translateY(0px);
    animation: float 6s ease-in-out infinite;
}

.info {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.avatar-container {
    position: relative;
    z-index: 2;
    height: 200px;
    width: 200px;
    filter: drop-shadow(5px 50px 50px black);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.hero-container {
    z-index: 1;
    animation: slideOut 1s ease-out forwards;
    animation-delay: 1s;
    opacity: 0;
    text-align: center;
}

@keyframes slideOut {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.hero {
    font-family: Unbounded;
    font-size: 4rem;
    color: black;
    text-align: center;
    text-shadow: 
        2px 2px 0px white,
        -2px 2px 0px white,
        2px -2px 0px white,
        -2px -2px 0px white;
}

.avatar {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: 5;
    box-shadow: 0 0 1000px 100px rgba(255, 255, 255, 0.25);
}

.social-links {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spin 10s linear infinite;
    pointer-events: none;
    z-index: 3;
}

.social-link {
    position: absolute;
    color: white;
    text-decoration: none;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    transition: transform 0.3s ease, color 0.3s ease;
    pointer-events: auto;
    transform-origin: center;
}

.social-link>a {
    width: 30px;
    height: 30px;
}

.social-link:nth-child(1) {
    transform: rotate(0deg) translate(125px) rotate(0deg);
}

.social-link:nth-child(1):hover {
    transform: scale(1.2) rotate(0deg) translate(105px) rotate(0deg);
}

.social-link:nth-child(2) {
    transform: rotate(90deg) translate(125px) rotate(-90deg);
}

.social-link:nth-child(2):hover {
    transform: scale(1.2) rotate(90deg) translate(105px) rotate(-90deg);
}

.social-link:nth-child(3) {
    transform: rotate(180deg) translate(125px) rotate(-180deg);
}

.social-link:nth-child(3):hover {
    transform: scale(1.2) rotate(180deg) translate(105px) rotate(-180deg);
}


.social-link:nth-child(4) {
    transform: rotate(270deg) translate(125px) rotate(-270deg);
}

.social-link:nth-child(4):hover {
    transform: scale(1.2) rotate(270deg) translate(105px) rotate(-270deg);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.email {
    text-align: center;
    font-size: 15px;
    margin-top: -35px;
}

.email-text {
    color: #707070;
    text-decoration: underline;
    transition: .5s;
}

.email-text:hover {
    color: rgb(187, 187, 187);
    text-decoration: none;
}

.email-text:active {
    color: #707070;
    text-decoration: underline;
}

.email-text:visited {
    color: #707070;
    text-decoration: underline;
}

.avatar-container:hover .social-links {
    animation-play-state: paused;
    transition: transform 0.5s ease-in-out;
}

.bio-container {
    width: 300px;
    z-index: 1;
    animation: slideOut 1s ease-out forwards;
    animation-delay: 1s;
    opacity: 0;
    text-align: center;
}

.bio {
    max-width: 300px;
    text-align: center;
    color: #f0f0f0;
}

.bio > a {
    color: #f0f0f0;
    text-decoration: underline;
    transition: .5s;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 50vh;
}